@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

svg {
  width: 100%;
  display: block;
}

h1 {
  color: #c82d37;
  text-align: center;
}

.ambulance {
  width: 70%;
  margin-top: 15rem;
}

.doctor {
  width: 50%;
  margin-top: 7rem;
}

.nurse {
  width: 60%;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.box-one {
  background-color: #cdfce8;
}

.box-two {
  background-color: #bbead7;
}

.box-three {
  background-color: #AADAC8;
}

p {
  margin: 2rem;
  color: #6D6E70; 
}
